<h2 class="text-center">Your Invitations</h2>

<div style="overflow-x:auto;">
<!-- <div class="small-12 medium-12 large-12 columns"> -->
  <table role="grid">
    <!-- <div class="small-12 medium-12 large-12 columns"> -->
    <thead>
      <tr>
        <th scope="column">Event Name</th>
        <th scope="column">Date</th>
        <th scope="column">Time</th>
        <th scope="column">Invited By</th>
        <th scope="column">Response</th>
      </tr>
    </thead>
  <!-- </div> -->
    <tbody>
      <% @pending_invites.each do |invite| %>
        <!-- <div class="small-12 large-12 medium-12"> -->

        <tr>
          <td><%= invite.event.name %></td>
          <td><%= invite.event.date.strftime('%m/%d/%Y') %></td>
          <td><%= invite.event.start_time %></td>
          <td><%= link_to invite.inviter.name, user_path(invite.inviter) %></td>
          <td>
              <%= button_to "Attending", invite_path(invite), method: :patch, params: { :"invite[status]" => "Attending", :"invite[id]" => invite.id }  %>
              <%= button_to "Can't Attend", invite_path(invite), method: :patch, params: { :"invite[status]" => "Not Attending" } %>
          </td>
        </tr>
      <!-- </div> -->
      <% end %>
    </tbody>
  </table>
</div>
