
<% @friendevents.each do |aevent| %>
    <div class="small-12 medium-12 large-12 columns">
      <div class="row">
        <%=  link_to image_tag(aevent.organizer.photo, class: "image-circular"), user_path(aevent.organizer)%>
        <div class="small-10 medium-10 large-10 columns">
          <b><%= link_to "#{aevent.organizer.name}", user_path(aevent.organizer), class: "newsfeed-name-link" %></b>
          created the event, <b><%= aevent.name %></b>.<br />
          <% if aevent.invites.user_attending?(current_user) %>
              <b><%= link_to aevent.name, event_path(aevent) %></b>
          <% else %>
            <b><%= aevent.name %></b>
          <% end %>
          has
          <%= aevent.invites.where(status: "Attending").count %>
          Attending and
          <%= aevent.invites.where(status: 'Pending').count %> Pending invites.
          <% if aevent.invites.user_attending?(current_user) %>
            You are attending this event!
          <% elsif aevent.invites.user_notattending?(current_user) %>
            You declined this event!
          <% end %>
          <% if aevent.invites.user_notinvited?(current_user) %>
            <div class="small-offset-7 medium-offset-7 large-offset-7">
              <div class="buttons">
                <%= button_to "Ask to Tag along!" %>
                <%= button_to "Going their with Friends" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="end-row-line">
<% end %>
