
  <% @friendevents.each do |aevent| %>
      <div class="small-12 medium-7 medium-centered large-7 large-centered newsfeed-list columns">
        <div class="row" id="newsfeedrow">
          <%=  link_to image_tag(aevent.organizer.photo + "?type=large", class: "friends-photo newsfeed"), user_path(aevent.organizer)%>
          <div class="small-10 medium-10 large-10 columns">
            <b><%= link_to "#{aevent.organizer.name}", user_path(aevent.organizer), class: "newsfeed-name-link" %></b>
            created the event, <b><%= aevent.name %></b>.
            <br>
            <% if aevent.invites.user_attending?(current_user) %>
              <b><%= link_to aevent.name, event_path(aevent) %></b>
            <% else %>
              <b><%= aevent.name %></b>
            <% end %>
            has
            <%= aevent.invites.where(status: "Attending").count %>
            Attending and
            <%= aevent.invites.where(status: 'Pending').count %> Pending invites.
            <br>
            <br>
            <% if aevent.invites.user_attending?(current_user) %>
              <b>You are attending this event!</b>
            <% elsif aevent.invites.user_notattending?(current_user) %>
              <b>You declined this event!</b>
            <% end %>
            <% if aevent.invites.user_notinvited?(current_user) %>

              <div class="text-centered">
                <div class="buttons">
                  <ul class="newsfeed-buttons">
                    <li><%= button_to "Ask to Tag along!", notify_api_newsfeeds_path(aevent) %></li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr class="divider">
      </div>
  <% end %>
