<section class="coverphoto">
  <div class="text-center">
    <div class="userphoto">
      <%= image_tag(@user.photo + "?type=large", class: "profilepic") %>
    </div>
    <div class="usersname">
      <%= @user.name %>
    </div>
  </div>
</section>

<div class="large-9 small-8 medium-10 columns">
  <div class="profile box">
    <div class="text-center">
    Member Since: <%= @user.created_at.strftime("%b %Y") %>
    </div>
    <div style="overflow-x:auto;">
      <%= table_for @events,
          table_html: { id: "user-past-events", class: "user-profile-table" },
          sortable: true,
          data_row_html: {
            id: lambda { |event| "event-#{event.id}" }
            } do |table| %>
        <% table.column :name, link_url: lambda { |event| event_path(event) } %>
        <% table.column :date, :formatter => [:strftime, "%m/%d/%Y"], :sortable => true %>
        <% table.column :start_time, :sortable => false %>
        <% if @ownprofile %>
          <% table.footer do %>
            <div class="pull-right">
              <%= paginate @events %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="large-3 small-4 medium-2 columns" id="friendcolumn">
  <div class="friendsuserprofile">
    <div class="text-center">
      <div class="title">
        Friends
      </div>
        <% if @ownprofile %>
          <% @friendlist.each do |friend| %>
            <div class="photoContainer small-4 large-4 medium-4 columns">
              <%= link_to image_tag(friend.photo + "?type=large"), user_path(friend), class: "friends-photo" %>
            </div>
          <% end %>
        <% else %>
          <% @friendlist.each do |friend| %>
            <div class="photoContainer small-4 large-4 medium-4 columns">
            <% if @mutuallist.empty? %>
              <% if friend == current_user %>
                <%= link_to image_tag(friend.photo + "?type=large"), user_path(friend), class: "friends-photo" %>
              </div>
              <% else %>
                <%= image_tag(friend.photo + "?type=large", class: "friends-photo") %>
              </div>
              <% end %>
            <% elsif @mutuallist.include?(friend) %>
              <%= link_to image_tag(friend.photo + "?type=large"), user_path(friend), class: "friends-photo" %>
            </div>
            <% elsif friend == current_user %>
              <%= link_to image_tag(friend.photo + "?type=large"), user_path(friend), class: "friends-photo" %>
            </div>
            <% else %>
              <%= image_tag(friend.photo + "?type=large", class: "friends-photo") %>
            </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
