<section class="coverphoto">
  <div class="text-center">
    <div class="userphoto">
      <%= image_tag(@user.photo + "?type=large", class: "profilepic") %>
    </div>
    <div class="usersname">
      <%= @user.name %>
    </div>
  </div>
</section>

<div class="large-9 small-8 medium-10 columns">
  <div class="profile box">
    <div class="text-center">
    Member Since: <%= @user.created_at.strftime("%b %Y") %>
    </div>
    <div style="overflow-x:auto;">
      <%= table_for @events,
          table_html: { id: "user-past-events", class: "user-profile-table" },
          sortable: true,
          data_row_html: {
            id: lambda { |event| "event-#{event.id}" }
            } do |table| %>

        <% table.column :name, link_url: lambda { |event| event_path(event) } %>
        <% table.column :date, :formatter => [:strftime, "%m/%d/%Y"], :sortable => true %>
        <% table.column :start_time, :sortable => false %>
        <% if @ownprofile %>
          <% table.footer do %>
            <div class="pull-right">
              <%= paginate @events %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="large-3 small-4 medium-2 columns" id="friendcolumn">
  <div class="friendsuserprofile">
    <div class="text-center">
      Friends
    </div>
    <%# TODO: This calls user.friends and displays friend circular photo and is linked,
    if person is not friends with that friend not linked %>
  </div>
</div>
