<div class="text-center">
  <h2>Create a New Event</h2>
</div>
<br>

<div class="small-offset-3 large-offset-4 medium-offset-4 columns">
  <div class="small-6 large-4 medium-4">
  <%= simple_form_for (@event), method: "post", url: events_path do |f| %>
    <%= f.input :name, label: "Event Name" %>
    <%= f.input :date, as: :string, input_html: { class: "span2", id: "dpt" } %>
    <%= f.input :start_time, as: :string, label: "Start Time", input_html: { id: "timepicker" } %>
    <%= f.button :submit %>
  <% end %>
  </div>
</div>
