<% if @current_page == nil %>
<section id="<%= @sectionpage %>">
<% end %>
  <div class="text-center">
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <div class="event-date">
      <%= @event.date.strftime('%m/%d/%Y') %> <%= @event.start_time %>
    </div>
    <% if current_user == @event.organizer %>
      <div class="event-edit">
        <%= button_to "Edit Event", edit_event_path(@event), method: :get, class: "button small radius", params: { :"event[name]" => @event.name, :"event[date]" => @event.date, :"event[start_time]" => @event.start_time, :"event[id]" => @event.id, :"event[organizer_id]" => @event.organizer_id } %>
      </div>
      <div class="event-delete">
        <%= button_to "Cancel Event", event_path(@event), method: :delete, class: "button small radius" %>
      </div>
    <% end %>
    <ul>
      <% if @venueselection.empty? %>
        <li><%= button_to "Add Boston Nightlife", event_venues_path(@event), method: :get, class: "button small radius" %></li>
      <% end %>
    </ul>
  </div>
<% if @current_page == nil %>
</section>
<% end %>

<% if @venueselection.empty? == false %>
  <%= form_tag(event_invites_path(@event), method: "post", id: "invite-form") do  %>
  <div class="row">
    <div class="large-10 medium-10 columns">
      <div class="row collapse postfix-round">
        <div class="small-offset-2 small-6 columns">
          <%= text_field_tag :search %>
        </div>
        <div class="small-4 columns">
          <%= submit_tag "Invite Friends", class: "button postfix", id:"invite-friend" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>


<% if @venueselection.empty? == false %>
    <% @venueselection.each do |venueselect| %>
      <div class="large-2 medium-3 small-6 columns">
        <div class="panel">
          <div class="image-wrapper overlay-fade-in animated fadeInLeft">
            <%= link_to image_tag(venueselect.venue.photo, alt: "#{venueselect.venue.name} photo", class: "#{venueselect.venue.name} photo"), event_venue_path(@event.id,venueselect.venue.id), id: venueselect.venue.id %>
            <div class="image-overlay-content">
              <%= link_to "#{venueselect.venue.name}", event_venue_path(@event.id,venueselect.venue.id) %>
            </div>
            <h6>Submitted By: <%= venueselect.user.name %></h6>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
