<% if @current_page == nil %>
<section id="<%= @sectionpage %>">
<% end %>
  <div class="text-center event-info">
    <div class="event-title">
      <h1><%= @event.name %></h1>
    </div>
    <div class="event-owner">
      Created By: <%= link_to @event.organizer.name, user_path(@event.organizer), class: "event-org-link" %>
    </div>
    <div class="event-date">
      <%= @event.date.strftime('%m/%d/%Y') %> <%= @event.start_time %>
    </div>
    <% if current_user == @event.organizer %>
      <div class="small-12 large-12 medium-12 eventbuttons columns">
        <div class="small-1 medium-2 medium-push-3 large-push-4 event-delete columns">
          <%= button_to "Cancel Event", event_path(@event), method: :delete, class: "button small radius eventdelete" %>
        </div>
        <div class="small-1 small-pull-3 medium-pull-4 large-pull-5 event-edit columns">
          <%= button_to "Edit Event", edit_event_path(@event), method: :get, class: "button small radius eventedit", params: { :"event[name]" => @event.name, :"event[date]" => @event.date, :"event[start_time]" => @event.start_time, :"event[id]" => @event.id, :"event[organizer_id]" => @event.organizer_id } %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center addnightlife">
    <ul>
      <% if @venueselection.empty? %>
        <li><%= button_to "Add Boston Nightlife", event_venues_path(@event), method: :get, class: "button small radius" %></li>
      <% elsif !@venueselection.empty? && !@selected %>
      <li><%= button_to "Add Boston Nightlife", event_venues_path(@event), method: :get, class: "button small radius" %></li>
      <% end %>
    </ul>
  </div>
<% if @current_page == nil %>
</section>
<% end %>
<% if @venueselection.empty? == false %>
  <div class="eventresponse row">
    <div class="small-4 medium-4 large-4 attending columns">
      <div class="attendingheader text-center">
        <u>Attending</u>
      </div>
      <div class="attendingfriends small-12 large-12 medium-12 columns">
        <% @attending.each do |user| %>
        <%= image_tag(user.photo + "?type=large", class: "friends-photo", id: "#{user.name}-photo", alt: "#{user.name}") %>
        <% end %>
      </div>
    </div>
    <div class="small-4 medium-4 large-4 pending columns">
      <div class="pendingheader text-center">
        <u>Pending</u>
      </div>
      <div class= "pendingresponse">
        <% @pending.each do |user| %>
          <%= image_tag(user.photo + "?type=large", class: "friends-photo", id: "#{user.name}-photo", alt: "#{user.name}") %>
        <% end %>
      </div>
    </div>
    <div class="small-4 medium-4 large-4 declined columns">
      <div class="declinedheader text-center">
        <u>Declined</u>
      </div>
      <% @declined.each do |user| %>
        <%= image_tag(user.photo + "?type=large", class: "friends-photo", id: "#{user.name}-photo", alt: "#{user.name}") %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @venueselection.empty? == false && @selected && Time.zone.now <= @event.date - 10.minutes %>
  <%= form_tag(event_invites_path(@event), method: "post", id: "invite-form") do  %>
  <div class="row">
    <div class="large-10 medium-10 columns">
      <div class="row collapse postfix-round">
        <div class="small-offset-2 small-6 columns" id="friend-invite">
          <%= text_field_tag :search %>
        </div>
        <div class="small-4 columns">
          <%= submit_tag "Invite Friends", class: "button postfix", id:"invite-friend" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>



<% if @venueselection.empty? == false %>
  <div class="small-12 large-12 medium-12 rows">
    <% @venueselection.each do |vselect| %>
        <div class="large-2 medium-3 small-6 columns">
          <div class="panel">
            <div class="image-wrapper overlay-fade-in animated fadeInLeft">
              <div class="text-center">
                <%= link_to image_tag(vselect.venue.photo, alt: "#{vselect.venue.name} photo", class: "event-venue-photo"), event_venue_path(@event.id,vselect.venue.id), id: vselect.venue.id %>
              </div>
              <div class="image-overlay-content">
                <div class="text-center">
                  <%= link_to "#{vselect.venue.name}", event_venue_path(@event.id,vselect.venue.id) %>
                </div>
              </div>
              <div class="small-centered medium-centered small-12 large-12 medium-12 votes row">
                <div class="arrow up small-3 medium-4 large-3 columns">
                  <%= link_to(upvote_api_venueselection_votes_path(vselect), class: "upvote", id: "up-vselect-#{vselect.id}") do %>
                    <i class='fa fa-chevron-up'></i>
                  <% end %>
                </div>
                <div class="venuesume small-3 medium-4 large-3 text-center columns text-center">
                  <% if vselect.votes.sum(:vote) < 0 %>
                    <span id="venue-sum-<%= vselect.id %>" class="vote-sum red"><%= vselect.votes.sum(:vote) %></span>
                  <% else %>
                    <span id="venue-sum-<%= vselect.id %>" class="vote-sum"><%= vselect.votes.sum(:vote) %></span>
                  <% end %>
                </div>
                <div class="arrow down small-3 medium-4 large-3 columns">
                  <%= link_to(downvote_api_venueselection_votes_path(vselect), class: "downvote", id:"down-vselect-#{vselect.id}") do %>
                    <i class='fa fa-chevron-down'></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<% end %>

<% if @venueselection.size >= 12 %>
  <div class="row">
    <div class="paginate-center">
      <%= paginate @venueselection %>
    </div>
  </div>
<% end %>
