<div class="large-4 medium-4 small-12 columns">
  <div class="image-wrapper overlay-fade-in animated fadeInLeft">
    <div class="image-overlay-content">
      <!-- <div class="large-7 large-offset-2 medium-offset-3 medium-6 small-12"> -->
      <% if @event != nil %>
        <%= link_to image_tag(venue.photo, alt: "#{venue.name} photo", class: "venue photo"), event_venue_path(@event,venue), id: venue.id %>
        <div class="text-left">
          <p class="venueinfo">
            <span>
              <%= venue.name %> <span class='spacer'></span><br>
              <span class='spacer'></span><%= venue.address %>  <%= venue.city %>, <%= venue.state_code %>
            </span>
          </p>
        </div>
        <%= button_to "Add to Your Event", venueselections_path, params: { event: @event, venue: venue }, id: venue.yelp_id %>
      <% else %>
        <%= link_to image_tag(venue.photo, alt: "#{venue.name} photo", class: "venue photo"), venue_path(venue), id: venue.id %>
        <div class="text-left">
          <p class="venueinfo">
            <span>
              <%= venue.name %> <span class='spacer'></span><br>
              <span class='spacer'></span><%= venue.address %>  <%= venue.city %>, <%= venue.state_code %>
            </span>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
