
<div class="text-center">
  <div class="show-footer bg-img">
    <div class="floating-container" id="venueindex">
      <div class="row title-header">
        <h1 class="animated fadeInDown">Boston Nightlife</h1>
      </div>
    </div>
    <div class="row small-12 medium-offset-4 medium-6 columns large-offset-4 large-6 columns">
      <div class="search">
        <% if params["event_id"] %>
          <%= form_tag(event_venues_path, method: "get", id: "search-form") do %>
            <%= text_field_tag :search, nil,placeholder: "Search Nightlife" %>
            <div class="search-button">
              <%= submit_tag "Search", class: "button", id: "search-button" %>
            </div>
          <% end %>
        <% else %>
          <%= form_tag(venues_path, method: "get", id: "search-form") do  %>
            <%= text_field_tag :search, nil,placeholder: "Search Nightlife" %>
            <div class="search-button">
              <%= submit_tag "Search", class: "button", id: "search-button" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @venues.size != 0 %>
      <%= render @venues %>
      <br>
      <% if @venues.size >= 9 %>
        <hr />
        <div class="paginate-center">
          <%= paginate @venues %>
        </div>
      <% end %>
    <% elsif @yelpvenues != nil %>
      <%= render 'yelpvenue' %>
    <% end %>
  </div>
</div>
