<div class="text-center">
  <div class="show-footer bg-img">
    <div class="floating-container">
      <div class="row title-header">
        <h1 class="animated fadeInDown">Boston Nightlife</h1>
      </div>
    </div>
    <div class="search">
      <%= form_tag(venues_path, method: "get", id: "search-form") do  %>
        <%= text_field_tag :search, "Search Venues" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
    <% if @venues.size != 0 %>
      <%= render @venues %>
    <% elsif @yelpvenues != nil %>
      <%= render 'yelpvenue' %>
    <% end %>
  </div>
</div>
