<section class="venueshowpage">
  <div class="text-center">
    <h2 class="venuetitle"><%= @venue.name %></h2>
  </div>
  <div class="small-5 small-push-3 medium-5 medium-push-5 large-5 large-push-5 columns">
    <%= image_tag(@venue.photo, class: "venueshowimage") %>
  </div>
</section>

<div class="text-center">
  <div class="popular">
    <% if @popular == 0 %>
    Seems like this places has never been selected for any of your events or attended events!
    <% else %>
    <%= @venue.name %> has been selected <b><%= @popular %></b> times for your events and attended events!
    <% end %>
  </div>
  <div class="rating">
    <b>Yelp Rating:</b> <%= @venue.rating %>
  </div>
</div>
<div class="categories">
  <b>Categories:</b><br />
    <% @venue.category.gsub("/","").gsub(/"/, '').gsub("]","").gsub("[","").split(",").each do |t| %>
      <%= t %><br />
    <% end %>
</div>
<div class="text-center">
  <div class="address">
    <b>Address:</b> <%= @venue.full_address %>
  </div>
  <div class="phonenumber">
    <b>Phone Number:</b> <a href="tel:<%= @venue.phone %>"><%= @venue.phone %></a> <br />
  </div>
</div>


  <iframe
    width="400"
    height="250"
    class="medium-8 small-10 large-8 large-push-2 medium-push-2 small-push-1 columns gmap"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/place?key=<%= @mapcode %>&q=<%= @venue.full_address %> <%= @venue.name.gsub('&',"") %>&zoom=17&attribution_source=Google+Maps+Embed+API">
  </iframe>
