  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">NOMO FOMO</h1>
        </section>

        <section class="right">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', sign_out_path, method: :delete %>
          <% end %>
        </section>

      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <li class="image-name-row">
            <div class="small-4 columns" id="menu-photo">
              <img src="<%= current_user.photo %>" alt="<%= current_user.name %> photo" height="52px" width="55px" />
            </div>
            <div class="name-title">
              <%= link_to current_user.name, user_path(current_user.id), id: "user-link" %>
            </div>
          </li>
          <li><%= link_to 'Home', newsfeeds_path %></li>
          <li><%= link_to 'Boston Nightlife', venues_path %></li>
          <li><%= link_to 'Create a New Event', new_event_path %></li>
          <li><%= link_to 'Your Upcoming Events', events_path %></li>
          <li><%= link_to 'Invitations', invites_path %></li>
          <li><a href="#">Tinder Matches</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </aside>

      <section class="main-section">
        <% if notice != nil %>
          <div data-alert="" class="alert-box success">
            <div class="text-center">
              <div><p class="notice"><%= notice %></p></div>
              <a href="#" class="close">×</a>
            </div>
          </div>
        <% end %>
        <% if alert != nil %>
          <div data-alert="" class="alert-box alert">
            <div class="text-center">
              <div><p class="alert"><%= alert %></p></div>
              <a href="#" class="close">×</a>
            </div>
          </div>
        <% end %>
        <!-- content goes here -->
        <body id="<%= @current_page %>">
        <%= yield %>
      </section>


    </div>
  </div>
