<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "NOMO-FOMO" %></title>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <% unless !@hide_nav_bar %>
    <div class="contain-to-grid" id="hometop-bar">
      <%= render 'layouts/hometopbar' %>
    </div>
    <body class="<%= @current_page %>">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="row">

        <%= yield %>
      </div>
      <%= javascript_include_tag "application" %>
    </body>
  <% else %>
    <%= render 'layouts/testnav' %>
      <footer class="footer">
        <div class="row full-width">
          <ul class="contact">
            <li><a href="https://www.linkedin.com/in/lincolnkupke" class="fi-social-linkedin"></a></li>
            <li><a href="https://github.com/LmKupke" class="fi-social-github"></a></li>
            <li><a href="https://www.facebook.com/lincoln.kupke" class="fi-social-facebook"></a></li>

          </ul>
        </div>
      </footer>


    </body>
    <%= javascript_include_tag "application" %>
  <% end %>
</html>
